<div class="leftcontent">
<div class="topicguangchang">话题广场 <span>已关注<a href="yiguanzhu"><{$focus_topic_count}></a>个话题</span></div>
<!--父级话题展示 开始 -->
<div class="fathertopic">

<ul  class="bubblemenu"> 
<volist  name="all_focus_topic" id="topicinfo">


<li>

<a href="<{:U('Home/Topic/index',array('idt'=>$topicinfo['id']))}>"  class="nav_topicname enter-topicname"  data-topic-id="<{$topicinfo.id}>"><{$topicinfo.topic_name}></a> 

<div>
<div id="topicinformation">
</div>
             
</div>
</li>


</volist>
</ul>


</div>
<!--父级话题展示结束  -->

<!--公共话题展示开始 -->
<div class="alltopics grid">

<!-- 引入模板 -->
<include file="Topics/topicinfo"/>

</div>
<!--公共话题展示结束 -->
</div>