<div class="rightcontent">
<span>推荐话题</span>

<div class="tuijiantopic">

<volist name="commend_topic" id="commend_topic"> 
<!-- 话题内容开始 -->
<div class="tui-sss">
<div class="tui-touxiang">
<img src="<{$commend_topic.topic_pic}>" width="40" height="40"/>
</div>
<div class="tui-rightcontent">
<div class="where">
 <ul  class="bubblemenu"> 
           
<li>
<a href="<{:U('Home/Topic/index',array('tid'=>$commend_topic['tid'],'sel'=>'trends'))}>" class="enter-topicname"  data-topic-id="<{$commend_topic.tid}>"><{$commend_topic.topic_name}></a>
 <div>
<div id="topicinformation">
</div>
             
</div>
</li>
</ul>


</div>
<div class="foucus-number"><{$commend_topic.topic_focus_count}> 人关注</div>

</div>

<div class="tui-answer"><a href="__MODULE__/Question/qindex" >你为什么喜欢英雄联盟，你最喜欢英雄联盟里的哪个英雄? </a></div>
</div>
<!-- 话题内容结束 -->

</volist>



</div>

<include file="Public/minifooter"/>
</div>