<div class="leftcontent">
<div class="topicguangchang">话题广场 <span>已关注<a href="yiguanzhu"><{$focus_topic_count}></a>个话题</span></div>
<!--父级话题展示 开始 -->
<div class="fathertopic">

<ul  class="bubblemenu"> 
<volist  name="all_focus_topic" id="topicinfo">


<li>
<input type="hidden" class="hidden-topic-id" value="<{$topicinfo.id}>">
<a href="<{:U('Home/Topic/index',array('idt'=>$topicinfo['id']))}>"  class="nav_topicname enter-topicname"><{$topicinfo.topic_name}></a> 

<div>
<div id="topicinformation">
<div id="topicinfo"></div>
<div class="topicopinfooperation">问题：<a href="javascript:void(0);" class="topic-question-count"></a> &nbsp;&nbsp;热点：<a href="javascript:void(0);" class="topic-hot-question-count"></a>&nbsp;&nbsp;关注者:<a href="javascript:void(0);" class="topic-foucs-person-count"></a>
<a href="javascript:void(0);" class="topicinfoquxiao topic-focus-btn"><if condition="$hottopic['focus_id'] eq ''">关注话题<else/>取消关注</if></a>

<{/*隐藏话题id*/}>
<input type="hidden" class="hidden-topic-id" value="<{$topicinfo.id}>">

</div>


</div>
             
</div>
</li>


</volist>
</ul>


</div>
<!--父级话题展示结束  -->

<!--公共话题展示开始 -->
<div class="alltopics grid">

<!-- 引入模板 -->
<include file="Topics/topicinfo"/>

</div>
<!--公共话题展示结束 -->
</div>