<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
     <!--  引入通用资源-->
  <include file="Public/common_resources"/>
</head>
<body>
<!-- 引入通用 模块 -->

<include file="Public/common_header"/>


<div class="container clearfix">
   <!-- 引入通用navi -->
   
   <include file="Public/common_navi"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">问题管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="#" method="post">
                    <table class="search-tab">
                        <tr>
                           
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                      <!--   <a href="insert.html"><i class="icon-font"></i>新增作品</a> -->
                        <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                        <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            <th >ID</th>
					        <th >评论内容</th>
					        <th >回答内容</th>
					        <th >回复方名称</th>
					        <th >接收方名称</th>
					        <th >赞同次数</th>
					        <th >举报次数</th>
					        <th >时间</th>
					        <th >操作</th>
                        </tr>
                        <volist  name="info" id="info">
                        <tr>
                        
                            <td class="tc"><input name="id[]" value="59" type="checkbox"></td>
                            
                             <td><{$info.id}></td>
       
					        <td><u style="cursor:pointer" class="text-primary" ><{$info.message|getTextUnits|msubstr=0,100}></u></td>
					        <td ><{$info.answer_content|getTextUnits|msubstr=0,100}></td>
					        <td><{$info.susername}></td>
					        <td><{$info.rusername}></td>
					        <td ><{$info.upvote_count}></td>
					        <td ><{$info.report_count}></td>
					        <td><{$info.add_time|getTime}></td>
					     
                            <td>
                                <a class="link-update" href="#">修改</a>
                                <a class="link-del" href="#">删除</a>
                            </td>
                        </tr>
                        </volist>
                       
                    </table>
                    <div class="pagelist list-page"><{$page}></div> 
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>