<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
     <!--  引入通用资源-->
  <include file="Public/common_resources"/>
</head>
<body>
<!-- 引入通用 模块 -->

<include file="Public/common_header"/>


<div class="container clearfix">
   <!-- 引入通用navi -->
   
   <include file="Public/common_navi"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">用户管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="#" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="120">选择分类:</th>
                            <td>
                                <select name="search-sort" id="">
                                    <option value="">全部</option>
                                    <option value="19">精品界面</option><option value="20">推荐界面</option>
                                </select>
                            </td>
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="insert.html"><i class="icon-font"></i>新增作品</a>
                        <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                        <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            <th >ID</th>
					        <th >用户名</th>
					        <th >性别</th>
					        <th >手机</th>
					        <th >邮箱</th>
					        <th >地址</th>
					        <th >加入时间</th>
					        <th >状态</th>
					        <th >操作</th>
                        </tr>
                        <volist  name="userinfo" id="userinfo">
                        <tr>
                        
                            <td class="tc"><input name="id[]" value="59" type="checkbox"></td>
                            
                             <td><{$userinfo.id}></td>
       
					        <td><u style="cursor:pointer" class="text-primary" onclick="user_show('<{$userinfo.id}>','360','','张三','__CONTROLLER__/userShow')"><{$userinfo.username}></u></td>
					        <td><{$userinfo.sex}></td>
					        <td><{$userinfo.mobile}></td>
					        <td><{$userinfo.email}></td>
					        <td class="text-l"><{$userinfo.city}></td>
					        <td><{$userinfo.reg_time|getTime}></td>
					        <td class="user-status">
					        <if condition="$userinfo['forbidden'] eq 0">
					        <span class="label label-success">已启用</span>
					        <elseif condition="$userinfo['forbidden'] eq 1"/>
					        <span class="label label-error">已停用</span>
					        </if>
					        </td>
                            <td>
                                <a class="link-update" href="#">修改</a>
                                <a class="link-del" href="#">删除</a>
                            </td>
                        </tr>
                        </volist>
                       
                    </table>
                    <div class="list-page"> 2 条 1/1 页</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>