<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>明之后台管理</title>
  <!--  引入通用资源-->
  <include file="Public/common_resources"/>
</head>
<body>
<!-- 引入通用 模块 -->

<include file="Public/common_header"/>


<div class="container clearfix">
   <!-- 引入通用navi -->
   
   <include file="Public/common_navi"/>
   
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font">&#xe06b;</i><span>欢迎使用明之后台管理</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>快捷操作</h1>
            </div>
            <div class="result-content">
                <div class="short-wrap">
                    <a href="#"><i class="icon-font">&#xe001;</i>用户管理</a>
                    <a href="#"><i class="icon-font">&#xe005;</i>话题管理</a>
                    <a href="#"><i class="icon-font">&#xe048;</i>回答管理</a>
                    <a href="#"><i class="icon-font">&#xe041;</i>问题管理</a>
                    <a href="#"><i class="icon-font">&#xe01e;</i>评论管理</a>
                </div>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>系统基本信息</h1>
            </div>
            <div class="result-content">
                <ul class="sys-info-list">
                    <li>
                        <label class="res-lab">服务器计算机名</label><span class="res-info"><{$server_info.M_SERVER_UNNAME}></span>
                    </li>
                    <li>
                        <label class="res-lab">服务器IP地址</label><span class="res-info"><{$server_info.M_SERVER_IP}></span>
                    </li>
                    <li>
                        <label class="res-lab">服务器域名</label><span class="res-info"><{$server_info.M_SERVER_NAME}></span>
                    </li>
                    <li>
                        <label class="res-lab">PHP版本</label><span class="res-info"><{$server_info.M_SERVER_PHP_VERSION}></span>
                    </li>
                    <li>
                        <label class="res-lab">zend版本号</label><span class="res-info"><{$server_info.M_SERVER_ZEND_VERSION}></span>
                    </li>
                    <li>
                        <label class="res-lab">PHP运行方式 </label><span class="res-info"><{$server_info.M_SERVER_SAPI_NAME}></span>
                    </li>
                    <li>
                        <label class="res-lab">PHP安装路径</label><span class="res-info"><{$server_info.M_SERVER_INCLUDE_PATH}></span>
                    </li>
                    <li>
                        <label class="res-lab">服务器解译引擎</label><span class="res-info"><{$server_info.M_SERVER_SOFTWARE}></span>
                    </li>
                    
                     <li>
                        <label class="res-lab">服务器CPU数量</label><span class="res-info"><{$server_info.M_SERVER_PROCESSOR_IDENTIFIER}></span>
                    </li>
                    
                     <li>
                        <label class="res-lab">服务器语言</label><span class="res-info"><{$server_info.M_SERVER_HTTP_ACCEPT_LANGUAGE}></span>
                    </li>
                    
                    
                     <li>
                        <label class="res-lab">服务器当前时间 </label><span class="res-info"><{$server_info.M_SERVER_TIME}></span>
                    </li>
                    
                     <li>
                        <label class="res-lab">HTTP版本</label><span class="res-info"><{$server_info.M_SERVER_MYSQL_VERSION}></span>
                    </li>
                    
                    
                     <li>
                        <label class="res-lab">Http请求中Host值</label><span class="res-info"><{$server_info.M_SERVER_HTTP_HOST}></span>
                    </li>
                    
                     <li>
                        <label class="res-lab">MySql版本</label><span class="res-info"><{$server_info.M_SERVER_MYSQL_VERSION}></span>
                    </li>
                    
                    
                     <li>
                        <label class="res-lab">图形库</label><span class="res-info"><{$server_info.M_SERVER_GD_VERSION}></span>
                    </li>
                    
                     <li>
                        <label class="res-lab">系统内存占用</label><span class="res-info"><{$server_info.M_SERVER_Memory_Usage}></span>
                    </li>
                    
                     <li>
                        <label class="res-lab">当前Session数量</label><span class="res-info">8</span>
                    </li>
                    
                     <li>
                        <label class="res-lab">当前SessionID</label><span class="res-info"><{$server_info.M_SERVER_SESSIONID}></span>
                    </li>
                    
                    
                </ul>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>使用帮助</h1>
            </div>
            <div class="result-content">
                <ul class="sys-info-list">
                    <li>
                        <label class="res-lab">站长qq：</label><span class="res-info"><a href="http://www.aspku.com/" target="_blank">499445428</a></span>
                    </li>
                    <li>
                        <label class="res-lab">站长博客：</label><span class="res-info"><a class="qq-link" target="_blank" href="http://www.mingzhiwen.cn">www.mingzhiwen.cn</a> </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>