<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__ADMIN_JS__/html5.js"></script>
<script type="text/javascript" src="__ADMIN_JS__/respond.min.js"></script>
<script type="text/javascript" src="__ADMIN_JS__/PIE_IE678.js"></script>
<![endif]-->
<link type="text/css" rel="stylesheet" href="__ADMIN_CSS__/H-ui.css"/>
<link type="text/css" rel="stylesheet" href="__ADMIN_CSS__/H-ui.admin.css"/>
<link type="text/css" rel="stylesheet" href="__ADMIN_FONT__/font-awesome.min.css"/>
<!--[if IE 7]>
<link href="__ADMIN_CSS__/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->
<title>我的桌面</title>
</head>
<body>
<div class="pd-20" style="padding-top:20px;">
  <p class="f-20 text-success">欢迎使用明之后台管理系统</p>
  <volist name="uinfo" id="uinfo">
  <p>登录次数：<{$uinfo.login_count}> </p>
  <p>上次登录IP：<{$uinfo.last_ip}>  上次登录时间：<{$uinfo.last_login|time2Units}></p>
  </volist>
  <table class="table table-border table-bordered table-bg">
    <thead>
      <tr>
        <th colspan="7" scope="col">信息统计</th>
      </tr>
      <tr class="text-c">
        <th>统计</th>
        <th>问题</th>
        <th>话题</th>
        <th>评论</th>
        <th>用户</th>
        <th>管理员</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-c">
        <td>总数</td>
        <td>92</td>
        <td>9</td>
        <td>0</td>
        <td>8</td>
        <td>20</td>
      </tr>
      <tr class="text-c">
        <td>今日</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr class="text-c">
        <td>昨日</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr class="text-c">
        <td>本周</td>
        <td>2</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr class="text-c">
        <td>本月</td>
        <td>2</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-border table-bordered table-bg mt-20">
    <thead>
      <tr>
        <th colspan="2" scope="col">服务器信息</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th width="200">服务器计算机名</th>
        <td><span id="lbServerName"><{$server_info.M_SERVER_UNNAME}></span></td>
      </tr>
      <tr>
        <td>服务器IP地址</td>
        <td><{$server_info.M_SERVER_IP}></td>
      </tr>
      <tr>
        <td>服务器域名</td>
        <td><{$server_info.M_SERVER_NAME}></td>
      </tr>
      
      <tr>
        <td>PHP版本 </td>
        <td><{$server_info.M_SERVER_PHP_VERSION}></td>
      </tr>
      <tr>
        <td>zend版本号 </td>
        <td><{$server_info.M_SERVER_ZEND_VERSION}></td>
      </tr>
      <tr>
        <td>PHP运行方式 </td>
        <td><{$server_info.M_SERVER_SAPI_NAME}></td>
      </tr>
      <tr>
        <td>PHP安装路径 </td>
        <td><{$server_info.M_SERVER_INCLUDE_PATH}></td>
      </tr>
      <tr>
        <td>服务器解译引擎</td>
        <td><{$server_info.M_SERVER_SOFTWARE}></td>
      </tr>
      <tr>
        <td>服务器CPU数量 </td>
        <td><{$server_info.M_SERVER_PROCESSOR_IDENTIFIER}></td>
      </tr>
      <tr>
        <td>服务器语言</td>
        <td><{$server_info.M_SERVER_HTTP_ACCEPT_LANGUAGE}></td>
      </tr>
      <tr>
        <td>服务器当前时间 </td>
        <td><{$server_info.M_SERVER_TIME}></td>
      </tr>
      <tr>
        <td>HTTP版本 </td>
        <td><{$server_info.M_SERVER_MYSQL_VERSION}></td>
      </tr>
      <tr>
        <td>Http请求中Host值 </td>
        <td><{$server_info.M_SERVER_HTTP_HOST}></td>
      </tr>
      <tr>
        <td>MySql版本 </td>
        <td><{$server_info.M_SERVER_MYSQL_VERSION}></td>
      </tr>
      <tr>
        <td>图形库 </td>
        <td><{$server_info.M_SERVER_GD_VERSION}></td>
      </tr>
      <tr>
        <td>系统内存占用 </td>
        <td><{$server_info.M_SERVER_Memory_Usage}></td>
      </tr>
      
      <tr>
        <td>当前Session数量 </td>
        <td>8</td>
      </tr>
      <tr>
        <td>当前SessionID </td>
        <td><{$server_info.M_SERVER_SESSIONID}></td>
      </tr>
     
    </tbody>
  </table>
</div>
<footer>
  &copy;2017 明之
</footer>
<script type="text/javascript" src="__ADMIN_JS__/jquery.min.js"></script>

</body>
</html>