  <div class="mark"></div>
  <div class="share-dialog">
             
                <div class="share-close" onclick="$('.mark,.share-dialog').hide();"></div> 
                <div class="share-dialog-title">
                    分享
                </div> 
                <div class="share-dialog-cont"> 
                    <div class="share-copy"> 
                        <div class="share-copy-l">
                            分享链接：
                        </div> 
                        <div class="share-copy-c">
                            <input id="copytext" type="text" />
                        </div> 
                        <div id="btnCopy" class="share-copy-r" data-clipboard-target="copytext">
                        复制链接
                        </div> 
                        <div class="clear"></div> 
                    </div> 
                    <div class="share-platform"> 
                        <div class="share-platform-l">
                            社交平台：
                        </div> 
                        <div class="share-platform-r"> 
                            <div class="bdsharebuttonbox"> 
                                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a> 
                                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a> 
                                <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a> 
                                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a> 
                            </div> 
                            <div class="share-platform-text">
                                您可以直接复制短链，分享给朋友，也可直接点击社交平台图标，指定分享。 
                            </div> 
                        </div> 
                    </div> 
                </div>
        </div> 