<!-- 我的个人动态 -->
<div class="allactivity">
<div class="ding">我的动态</div>
<div class="dongtai"><a href="<{:U('Home/Profile/index',array('u'=>$umsg['uid']))}>" >最新动态</a></div>
<include file="Profile/left_navi"/>

</div>

<div class="newactivity">

<div class="mydongtaibiaoqian"><{$umsg.username}>的收藏夹</div>

<!--赞同动态-->

<div class="mytrends_content">


<!--S  收藏内容信息 -->

<volist name="collection_info" id="collection_info">
<div class="collection-info" data-collection-id="<{$collection_info.id}>"><span class="collection-name"><{$collection_info.collection_name}></span><br><span class="collection-index"><{$collection_info.collection_num}>条内容 · 0人关注</span>
</div>
</volist>

</div>

<!--E  收藏内容信息-->

</div>



