<!--S 赞同了回答  -->
<div class="mydongtai-ua index-rightcontent">
<div class="mydongtai-ua-tag"><span class="dongtai-type-zan">赞同了回答</span><span class="dongtai-time-zan">2小时前</span></div>
<div class="mydongtai-ua-question"><a href="#">ThinkPHP的save，add方法不起作用怎么办？</a></div>
<div class="mydongtai-ua-user"><img src="__HOME_IMAGES__/defaultavatar.jpg" width="50px" height="50px"/> <span class="mydongtai-ua-username">明山</span></div>
<div class="mydongtai-ua-answer">    案例：数据库新添加一字段，修改值不成功。
解决方案：将Runtime/Data/_fields/下面的字段缓存删除，或者直接删除整个Runtime文件也是可以的
分析：由于Thinkphp，采用字段缓存机制，一般情况下会将数据库的字段缓存到文件中，当我们对数据库里的字段增加，修改之后，缓存文件没有变化，所以，我们在Add或者Save的时候，不起作用。
</div>
<!-- S 操作 -->
<div class="index_my_left_category  answer-operate">
<input type="hidden" class="hide_answer_id" value="<{$feeds_info_detail.id}>">
<input type="hidden" class="hide_upvote_status" value="<{$feeds_info_detail.upvote_status.vote_value}>">
<span class="upvote answer-upvote"><a href="javascript:void(0);" ><b>赞同</b> | <i class="answer-upvote-count"><{$feeds_info_detail.upvote_count}></i></a> </span>
<a href="javascript:void(0);">反对</a><a href="javascript:void(0);"><img src="__HOME_IMAGES__/add.png"/>关注问题</a>
<if condition="$feeds_info_detail['comment_content'] eq ''">
<a href="javascript:void(0)" class="commentbtn"><img src="__HOME_IMAGES__/comment.png"/>添加评论</a>
<else/>
<a href="javascript:void(0)" class="commentbtn"><img src="__HOME_IMAGES__/comment.png"/>评论</a><span class="shoucangnumber"><{$feeds_info_detail.comment_count}></span>
</if>

<span class="shadow_border">
<a href="#"><img src="__HOME_IMAGES__/collect.png"/> 收藏</a>
<a href="#"><img src="__HOME_IMAGES__/report.png"/> 举报</a>
</span>

</div>
<!-- E 操作 -->

<!--评论内容 开始 -->
<div class="commentbox">
			<div class="arrow-range">
				<b class="arrow-outer"></b>
				<b class="arrow-inner"></b>				
			</div>
			<div class="commentcon">
					 
					 
					 <!--我的回复开始  -->
				<div class="othercomment_mycomment">
				    <div>
						<img src="<{$Think.session.avatar_file}>" class="mycommen_touxiang" >
						<!-- 回复内容 -->
						<div class="mycomment_input" contenteditable="true"></div>
					</div>
					<div >
						<form action="" method="">
						    <div class="replay-other-btn-div">
						    <input type="submit" value="评论" class="replay-other-btn">
						    </div>
						</form>
					</div>
				</div>
				
				<!--我的回复结束  -->
				
				
				        <!--其他人评论开始  -->	
				        <div class="othercomment_info">
				  
				   
				   
						 <!-- 其他人评论内容开始 -->
						<div class="othercomment_info_div">
						<div class="othercomment_user_touxiang">
						<img src="__PUBLIC__/Home/images/yingxiong.jpg" />
						</div>
						<div class="replay-rightcontent">
										
						<div class="othercomment_info_message"><a href="#" >当时明月</a>:<span>这种游戏就是这个样子呀，上号这种游戏就是这个样子呀，上号号这种游戏就是这个样子呀，上号</span> </div>
						<div class="othercomment_replay_time"><span class="replay_time">·2天前</span> 
						<!-- 操作开始 -->
						<div class="othercomment_replay_operate">
						<a href="javascript:void(0)"><img  src="__HOME_IMAGES__/upvote.png"> 赞</a>
						<a href="javascript:void(0)" class="othercomment_replay_btn"><img  src="__HOME_IMAGES__/replay-inner.png"> 回复</a>
						<a href="javascript:void(0)"><img  src="__HOME_IMAGES__/report.png"> 举报</a>
						</div>
						
						<!-- 操作结束 -->
						<span class="replay-upvote-num">3 赞</span>
						</div> 
						<!-- 隐藏评论开始 -->
						<div class="replay-other-input-div">
						    <div>
					
								<!-- 回复内容 -->
								<div class="replay-other-input" contenteditable="true"></div>
							</div>
							<div >
								<form action="" method="">
								 
								    <div class="replay-other-btn-div">
								  
								    <input type="submit" value="回复" class="replay-person-btn">
								    </div>
								</form>
							</div>
						</div>	
					    <!--隐藏评论结束  -->
									
						</div>
						</div>
						<!-- 其他人评论内容结束 -->
				   
				         <!-- 其他人评论内容开始 -->
						<div class="othercomment_info_div">
						<div class="othercomment_user_touxiang">
						<img src="__PUBLIC__/Home/images/yingxiong.jpg" />
						</div>
						<div class="replay-rightcontent">
										
						<div class="othercomment_info_message"><a href="#" >当时明月</a>:<span>这种游戏就是这个样子呀，上号这种游戏就是这个样子呀，上号号这种游戏就是这个样子呀，上号</span> </div>
						<div class="othercomment_replay_time"><span class="replay_time">·2天前</span> 
						<!-- 操作开始 -->
						<div class="othercomment_replay_operate">
						<a href="javascript:void(0)"><img  src="__HOME_IMAGES__/upvote.png"> 赞</a>
						<a href="javascript:void(0)" class="othercomment_replay_btn"><img  src="__HOME_IMAGES__/replay-inner.png"> 回复</a>
						<a href="javascript:void(0)"><img  src="__HOME_IMAGES__/report.png"> 举报</a>
						</div>
						
						<!-- 操作结束 -->
						<span class="replay-upvote-num">3 赞</span>
						</div> 
						<!-- 隐藏评论开始 -->
						<div class="replay-other-input-div">
						    <div>
					
								<!-- 回复内容 -->
								<div class="replay-other-input" contenteditable="true"></div>
							</div>
							<div >
								<form action="" method="">
								 
								    <div class="replay-other-btn-div">
								  
								    <input type="submit" value="回复" class="replay-person-btn">
								    </div>
								</form>
							</div>
						</div>	
					    <!--隐藏评论结束  -->
									
						</div>
						</div>
						<!-- 其他人评论内容结束 -->
				   
				    
				   
			    </div>
			    <!--其他人评论结束 -->
			</div>
</div> 
<!--评论内容结束  -->




</div>
<!--E 赞同了回答  -->

<!--S 回答了问题  -->

<div class="mydongtai-ua index-rightcontent">
<div class="mydongtai-ua-tag"><span class="dongtai-type-zan">回答了问题</span><span class="dongtai-time-zan">2小时前</span></div>
<div class="mydongtai-ua-question"><a href="#">如何看待支付宝的多个生活圈只允许女性发帖且芝麻信用 750 以上才能评论？</a></div>
<div class="mydongtai-ua-user"><img src="__HOME_IMAGES__/defaultavatar.jpg" width="50px" height="50px"/> <span class="mydongtai-ua-username">明山</span></div>
<div class="mydongtai-ua-answer">   在这个国家里有一个知名公司明目张胆的表示女性不如男性

女性不再需要信用，只需要像古代花楼里一样展示展示自己，等待男人们给钱叫好

而更让我难过的是，还有很多女性引以为傲，觉得自己可以挑选绩优股
</div>
<div class="mydongtai-ua-question-time">问题发布于  8天前</div>

<!-- S 操作 -->
<div class="index_my_left_category  answer-operate">
<input type="hidden" class="hide_answer_id" value="<{$feeds_info_detail.id}>">
<input type="hidden" class="hide_upvote_status" value="<{$feeds_info_detail.upvote_status.vote_value}>">
<span class="upvote answer-upvote"><a href="javascript:void(0);" ><b>赞同</b> | <i class="answer-upvote-count"><{$feeds_info_detail.upvote_count}></i></a> </span>
<a href="javascript:void(0);">反对</a><a href="javascript:void(0);"><img src="__HOME_IMAGES__/add.png"/>关注问题</a>
<if condition="$feeds_info_detail['comment_content'] eq ''">
<a href="javascript:void(0)" class="commentbtn"><img src="__HOME_IMAGES__/comment.png"/>添加评论</a>
<else/>
<a href="javascript:void(0)" class="commentbtn"><img src="__HOME_IMAGES__/comment.png"/>评论</a><span class="shoucangnumber"><{$feeds_info_detail.comment_count}></span>
</if>

<span class="shadow_border">
<a href="#"><img src="__HOME_IMAGES__/collect.png"/> 收藏</a>
<a href="#"><img src="__HOME_IMAGES__/report.png"/> 举报</a>
</span>

</div>
<!-- E 操作 -->

<!--评论内容 开始 -->
<div class="commentbox">
			<div class="arrow-range">
				<b class="arrow-outer"></b>
				<b class="arrow-inner"></b>				
			</div>
			<div class="commentcon">
					 
					 
					 <!--我的回复开始  -->
				<div class="othercomment_mycomment">
				    <div>
						<img src="<{$Think.session.avatar_file}>" class="mycommen_touxiang" >
						<!-- 回复内容 -->
						<div class="mycomment_input" contenteditable="true"></div>
					</div>
					<div >
						<form action="" method="">
						    <div class="replay-other-btn-div">
						    <input type="submit" value="评论" class="replay-other-btn">
						    </div>
						</form>
					</div>
				</div>
				
				<!--我的回复结束  -->
				
				
				        <!--其他人评论开始  -->	
				        <div class="othercomment_info">
				  
				   
				   
						 <!-- 其他人评论内容开始 -->
						<div class="othercomment_info_div">
						<div class="othercomment_user_touxiang">
						<img src="__PUBLIC__/Home/images/yingxiong.jpg" />
						</div>
						<div class="replay-rightcontent">
										
						<div class="othercomment_info_message"><a href="#" >当时明月</a>:<span>这种游戏就是这个样子呀，上号这种游戏就是这个样子呀，上号号这种游戏就是这个样子呀，上号</span> </div>
						<div class="othercomment_replay_time"><span class="replay_time">·2天前</span> 
						<!-- 操作开始 -->
						<div class="othercomment_replay_operate">
						<a href="javascript:void(0)"><img  src="__HOME_IMAGES__/upvote.png"> 赞</a>
						<a href="javascript:void(0)" class="othercomment_replay_btn"><img  src="__HOME_IMAGES__/replay-inner.png"> 回复</a>
						<a href="javascript:void(0)"><img  src="__HOME_IMAGES__/report.png"> 举报</a>
						</div>
						
						<!-- 操作结束 -->
						<span class="replay-upvote-num">3 赞</span>
						</div> 
						<!-- 隐藏评论开始 -->
						<div class="replay-other-input-div">
						    <div>
					
								<!-- 回复内容 -->
								<div class="replay-other-input" contenteditable="true"></div>
							</div>
							<div >
								<form action="" method="">
								 
								    <div class="replay-other-btn-div">
								  
								    <input type="submit" value="回复" class="replay-person-btn">
								    </div>
								</form>
							</div>
						</div>	
					    <!--隐藏评论结束  -->
									
						</div>
						</div>
						<!-- 其他人评论内容结束 -->
				   
				         <!-- 其他人评论内容开始 -->
						<div class="othercomment_info_div">
						<div class="othercomment_user_touxiang">
						<img src="__PUBLIC__/Home/images/yingxiong.jpg" />
						</div>
						<div class="replay-rightcontent">
										
						<div class="othercomment_info_message"><a href="#" >当时明月</a>:<span>这种游戏就是这个样子呀，上号这种游戏就是这个样子呀，上号号这种游戏就是这个样子呀，上号</span> </div>
						<div class="othercomment_replay_time"><span class="replay_time">·2天前</span> 
						<!-- 操作开始 -->
						<div class="othercomment_replay_operate">
						<a href="javascript:void(0)"><img  src="__HOME_IMAGES__/upvote.png"> 赞</a>
						<a href="javascript:void(0)" class="othercomment_replay_btn"><img  src="__HOME_IMAGES__/replay-inner.png"> 回复</a>
						<a href="javascript:void(0)"><img  src="__HOME_IMAGES__/report.png"> 举报</a>
						</div>
						
						<!-- 操作结束 -->
						<span class="replay-upvote-num">3 赞</span>
						</div> 
						<!-- 隐藏评论开始 -->
						<div class="replay-other-input-div">
						    <div>
					
								<!-- 回复内容 -->
								<div class="replay-other-input" contenteditable="true"></div>
							</div>
							<div >
								<form action="" method="">
								 
								    <div class="replay-other-btn-div">
								  
								    <input type="submit" value="回复" class="replay-person-btn">
								    </div>
								</form>
							</div>
						</div>	
					    <!--隐藏评论结束  -->
									
						</div>
						</div>
						<!-- 其他人评论内容结束 -->
				   
				    
				   
			    </div>
			    <!--其他人评论结束 -->
			</div>
</div> 
<!--评论内容结束  -->




</div>


<!--E 回答了问题 -->


<!--S 关注了问题  -->
<div class="mydongtai-ua index-rightcontent">
<div class="mydongtai-ua-tag"><span class="dongtai-type-zan">关注了问题</span><span class="dongtai-time-zan">2小时前</span></div>
<div class="mydongtai-ua-question"><a href="#">ThinkPHP的save，add方法不起作用怎么办？</a></div>
</div>
<!--E 关注了问题  -->

<!--S 关注了话题 -->
<div class="mydongtai-ua index-rightcontent">
<div class="mydongtai-ua-tag"><span class="dongtai-type-zan">关注了话题</span><span class="dongtai-time-zan">2小时前</span></div>
<div class="mydongtai-ua-topic"><img src="__HOME_IMAGES__/defaultavatar.jpg" width="50px" height="50px"/>  <a href="#" class="mydongtai-ua-topic-name">英雄联盟</a></div>
</div>
<!--E 关注了话题 -->

<!--S 发起了问题  -->
<div class="mydongtai-ua index-rightcontent">
<div class="mydongtai-ua-tag"><span class="dongtai-type-zan">发起了问题</span><span class="dongtai-time-zan">2小时前</span></div>
<div class="mydongtai-ua-question"><a href="#">当用户初次登录系统时，关注了几个话题，feed流只将最新的信息推送过来，以前的话题的信息怎么推送过来？</a></div>
</div>
<!--E 发起了问题 -->