<volist name="record_info" id="record_content">
<{/*判断需要需要渲染的信息类型 */}>

<if condition="$record_content['record_flag'] eq 'fq'"><{/* 如果信息record_flag为fq  代表用户发起了问题*/}>
<{/*S 发起了问题循环*/}>
<volist name="record_content['question']" id="record_info_details">

<div class="mydongtai-ua index-rightcontent">
<div class="mydongtai-ua-tag"><span class="dongtai-type-zan">发起了问题</span><span class="dongtai-time-zan"><{$record_info_details.action_time|time2Units}></span></div>
<div class="mydongtai-ua-question"><a href="<{:U('Home/Question/qindex',array('qid'=>$record_info_details['id']))}>"><{$record_info_details.question_name}></a></div>
</div>

</volist>
<{/*E 发起了问题循环*/}>

<elseif condition="$record_content['record_flag'] eq 'za'"/><{/*如果信息record_flag为za  代表用户赞同了回答*/}>
<{/*S 赞同了回答循环*/}>
<volist name="record_content['answer']" id="record_info_details">

<{/*S 赞同了回答内容*/}>

<div class="mydongtai-ua index-rightcontent">
<div class="mydongtai-ua-tag"><span class="dongtai-type-zan">赞同了回答</span><span class="dongtai-time-zan"><{$record_info_details.add_time|time2Units}></span></div>
<div class="mydongtai-ua-question"><a href="<{:U('Home/Question/qindex',array('qid'=>$record_info_details['question_id']))}>"><{$record_info_details.question_name}></a></div>
<div class="mydongtai-ua-user"><img src="<{$record_info_details.avatar_file}>" width="50px" height="50px"/> <span class="mydongtai-ua-username"><{$record_info_details.username}></span></div>
<div class="mydongtai-ua-answer Editor-txt"><{$record_info_details.answer_content}></div>

<!-- 引入回答通用模板 -->
<include file="Profile/answer_just"/>
</div>
<{/*E 赞同了回答内容  */}>
</volist>
<{/*E 赞同了回答循环  */}>
<elseif condition="$record_content['record_flag'] eq 'aq'"/><{/*如果信息record_flag为aq  代表用户回答了问题 */}>

<{/* S 回答了问题循环 */}>
<volist name="record_content['answer']" id="record_info_details">
<{/* S 回答了问题内容  */}>
<div class="mydongtai-ua index-rightcontent">
<div class="mydongtai-ua-tag"><span class="dongtai-type-zan">回答了问题</span><span class="dongtai-time-zan"><{$record_info_details.create_time|time2Units}></span></div>
<div class="mydongtai-ua-question"><a href="<{:U('Home/Question/qindex',array('qid'=>$record_info_details['question_id']))}>"><{$record_info_details.question_name}></a></div>
<div class="mydongtai-ua-user"><img src="<{$record_info_details.avatar_file}>" width="50px" height="50px"/> <span class="mydongtai-ua-username"><{$record_info_details.username}></span></div>
<div class="mydongtai-ua-answer Editor-txt"><{$record_info_details.answer_content}></div>
<div class="mydongtai-ua-question-time">问题发布于 <{$record_info_details.create_time|time2Units}></div>

<!-- 引入回答通用模板 -->
<include file="Profile/answer_just"/>

</div>

<{/*E 回答了问题内容*/}>
</volist>
<{/*E 回答了问题循环*/}>

<elseif condition="$record_content['record_flag'] eq 'gq'"/><{/*如果信息record_flag为gq  代表用户关注了问题 */}>
关注了问题
<elseif condition="$record_content['record_flag'] eq 'gt'"/><{/*如果信息record_flag为gt  代表用户关注了话题  */}>
关注了话题
<elseif condition="$record_content['record_flag'] eq 'sq'"/><{/*如果信息record_flag为sq  代表用户收藏了问题  */}>
收藏了问题
<elseif condition="$record_content['record_flag'] eq 'sa'"/><{/*如果信息record_flag为sa  代表用户收藏了回答  */}>
</if>



</volist>