<div>
<div class="zu-main-content-inner">
<div class="zh-terms">
<ol class="zh-terms-sidenav zh-document-sidenav">
<li><a href="#sec-rule">使用规则</a></li>
<li><a href="#sec-licence">知识产权</a></li>
<li><a href="#sec-privacy">个人隐私</a></li>

</ol>
</div>
<div class="zh-document">

<h2>明之协议</h2>
<br>
<p id="sec-rule">欢迎您来到明之。</p>
<p>明之是一个知识问答与分享社区，在这里您可以发表您的观点和看法，提出自己的问题，分享自己的见解，与大家共同交流自己对专业，生活和世界的认识。世界因为分享变得更加丰富多彩，而在这里，分享的意识更具有价值性，必要性。希望我们一起完善这个美好的社区，社区的发展需要您的知识分享。在这里我们一起成长，一起进步，一起发现更加美妙的知识，一起探索这个大大的世界，这是明之社区的本意和宗旨。</p><br>
<p>
请您仔细阅读以下条款，如果您对本协议的任何条款表示异议，您可以选择不进入明之。当您注册成功，即意味着您需要遵守以下条款。
</p>
<div class="section-rule" >
<a name="sec-rule" class="zg-anchor-hidden"></a>
<h2>使用规则</h2>
<ol>
<li>用户注册成功后，用户将自己保存用户名和密码，并且用户需要对自己的账户负责。</li>
<li>用户须对在明之的注册信息的真实性、合法性、有效性承担全部责任，用户不得冒充他人；不得诋毁或者辱骂他人。</li>
<li>用户承诺不得以任何方式利用明之直接或间接从事违反中国法律以及社会公德的行为。</li>
<li>
<p>用户不得利用明之上制作、上载、复制、发布、传播或者转载如下内容：</p>
<ul>
<li>反对宪法所确定的基本原则的；</li>
<li>危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
<li>损害国家荣誉和利益的；</li>
<li>煽动民族仇恨、民族歧视，破坏民族团结的；</li>
<li>破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
<li>散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
<li>散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
<li>侮辱或者诽谤他人，侵害他人合法权益的；</li>
<li>含有法律、行政法规禁止的其他内容的信息。</li>
</ul>
</li>
</ol>
</div>
<div class="section-licence" id="sec-licence">
<a name="sec-licence" class="zg-anchor-hidden"></a>
<h2>知识产权</h2>
<p>明之希望用户分享自己的知识与见解，鼓励原创。</p>
<ol>
<li data-section="sec-licence-1">
<a name="sec-licence-1" class="zg-anchor-hidden"></a>
用户在明之上发表的全部原创内容，著作权均归用户本人所有。用户可授权第三方以任何方式使用，不需要得到明之的同意。
</li>


</ol>
</div>
<div class="section-privacy" id="sec-privacy">
<a name="sec-privacy" class="zg-anchor-hidden"></a>
<h2>个人隐私</h2>
<p>明之尊重用户的个人隐私，明之不会将用户的个人信息泄露出去。</p>
</div>



</div>
</div>
<div class="zh-footer">
<ul>


<li><a href="/terms" target="_blank">明之乎协议</a></li>
<li><a href="/contact">联系我们</a></li>
</ul>
<span class="copy">&copy; 2017 明之</span>
</div>
</div>