<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<include file="./Application/Home/View/Public/headerinfo.html"/>
	<title>首页-<{$Think.config.WEB_NAME}></title>
<script>
var DEFAULT_QUESTION_URL=MODULE+'/Question/qindex/qid/';
var DEFAULT_TOPIC_URL=MODULE+'/Topic/index/tid/';
var DEFAULT_USER_URL=MODULE+'/Profile/index/u/';
</script>
	<css file="__HOME_CSS__/indexheader.css" />
	<css file="__HOME_CSS__/common.css" />
<include file="Public/public_static_res"/>

</head>
<body> 

<{/*S header */ }>
<include  file="Public/header"/>
<{/*E header */ }>

<{/*S 主体 */ }>

<div id="wrapper">

         
<include file="Terms/content"/>

</div>
<{/*E 主体 */ }>

<{/*S 提问弹窗*/}>
<include file="Index/openModal"/>
<{/*E 提问弹窗*/}>


</body>
</html>
