
  <div class="dialog  collection">
             
                <div class="dialog-close" onclick="$('.mark,.dialog').hide();"></div> 
                <div class="dialog-title">
                                          添加到收藏夹
                </div> 
                <div class="dialog-content"> 
                      
                   <div class="collection-content">
                   </div>
                   <div class="collection-operation">
                      <a href="javascript:void(0);" class="add-collection-link" onclick="$('.mark,.dialog').hide();$('.create-collection,.mark').show();">创建新收藏夹</a>
                   </div>
                   <input type="hidden"  class="hide-current-collection-answer-id" value=""/>
                   
                </div>
</div> 