
  <div class="dialog   create-collection">
             
                <div class="dialog-close" onclick="$('.mark,.dialog').hide();"></div> 
                <div class="dialog-title">
                                         创建新收藏夹
                </div> 
                <div class="dialog-content"> 
                     <div class="create-collection-div">
                            <label>收藏夹名称</label><br>
                            <input type="text" class="collection-name" placeholder="收藏夹名称"/>
                             <br><br><label>收藏夹描述(可选)</label><br>
                            <textarea class="collection-desc" placeholder="收藏夹描述(可选)"></textarea><br><br>
                            <button class="create-collection-btn">确认创建</button>&nbsp;<a href="javascript:void(0)" onclick="$('.mark,.dialog').hide();" class="reset">取消</a>
                     <br><br>
                     </div> 
                </div>
</div> 