<div class="search-result-bg">
<div class="search-token">
<span>您搜索的关键词为：</span><span class="token"><{$token}></span>
</div>
</div>
<div class="search-result">
		<div class="container-n1">
		<div class="list">
		 <ul>
		<li><a href="<{:U('Home/Search/search',array('token'=>$token,'style'=>'c'))}>">内容</a></li>
		 <li><a class="checked_select" href="<{:U('Home/Search/search',array('token'=>$token,'style'=>'p'))}>">用户</a></li>
		 <li><a href="<{:U('Home/Search/search',array('token'=>$token,'style'=>'t'))}>">话题</a></li>
		 <li><a href="<{:U('Home/Search/search',array('token'=>$token,'style'=>'q'))}>">问题</a></li>
		 
		 </ul>
		 </div>
		 
		 </div>
		 
		 <div class="search-result-content">
		 <!-- 引用用户重用模板 -->
		 <include file="Search/person_temp"/>
		 </div>
		 
		 <!--S 点击加载更多 -->
		 <notempty name="record_info">
		<div class="js-load-more js-load-more-content"><span class="loading_span">加载更多</span><img src="__HOME_IMAGES__/loading.gif" class="loading_image"/></div>
		</notempty>
		<!--E 点击加载更多-->
</div>
