<div class="leftcontent">
<div class="publish-nav">
<span>发起问题</span>
</div>
<div class="publish-content">

<span>问题标题:</span>

<input type="text" class="publish-question-content"  placeholder="请输入问题的标题">
<span>问题描述,详细信息:</span>
<!--评论框开始  -->
<div id="editor-container" class="commentcontainer">
        <div id="editor-trigger"></div>      
</div>
<!--评论框结束  -->

<span>添加或搜索话题:</span>
<!-- S 搜素问题结果 -->
<div class="question-searchresult-div"></div>
<input type="text" class="publish-question-topic openModal-question-topic" placeholder="请输入话题名称"/>

<div class="publish-submit">	
			<input type="submit" value="发起">
</div>


</div>

</div>