<div class="leftcontent">
<div class="publish-nav">
<span>发起问题</span>
</div>
<div class="publish-content">

<span>问题标题:</span>
<div class="publish-question-content" contenteditable="true"></div>
<span>问题描述,详细信息:</span>
<!--评论框开始  -->
<div id="editor-container" class="commentcontainer">
        <div id="editor-trigger"></div>      
</div>
<!--评论框结束  -->

<span>添加或搜索话题:</span>
<div class="publish-question-topic" contenteditable="true"></div>


<div class="publish-submit">
	<form action="">
			<input type="hidden" name="questioncontent">
			<input type="hidden" name="questiondesc">
			<input type="hidden" name="questiontopic">
			<input type="submit" value="发起">
	</form>
</div>


</div>

</div>