<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<include file="./Application/Home/View/Public/headerinfo.html"/>
	<title>私信-<{$Think.config.WEB_NAME}></title>
	<script type="text/javascript">
	 var MODULE="__MODULE__";
     var AJAX_ERROR="<{$Think.config.AJAX_ERROR_TIPS}>";
     var default_question_desc="<{$Think.config.DEFAULT_QUESTION_DESC}>";
     var DEFAULT_QUESTION_URL=MODULE+'/Question/qindex/qid/';
     var DEFAULT_TOPIC_URL=MODULE+'/Topic/index/tid/';
     var DEFAULT_USER_URL=MODULE+'/Profile/index/u/';
	</script>
<css file="__HOME_CSS__/indexheader.css" />
<css file="__HOME_CSS__/inbox.css" />
<css file="__HOME_CSS__/footer.css" />
<include file="Public/public_static_res"/>
</head>
<body> 

<!--导航栏开始-->
<include  file="Public/header"/>   
<!--导航栏结束  -->                      

<!--主体内容开始-->

<div id="inboxmain">                 

<!-- 左边内容开始 -->
<include  file="Inbox/left"/> 
<!-- 左边内容结束 -->


<!-- 右边部分开始 -->
<include  file="Inbox/right"/> 
<!-- 右边部分结束 -->



</div>
<!-- 主体内容结束 -->


<!-- 写私信弹出开始 -->
<include file="Inbox/writeletter"/>
<!-- 写私信弹出结束 -->


<!--弹窗开始-->
<include file="Index/openModal"/>
<!--弹窗结束  -->

</body>
</html>