<div id="inboxleftcontent">


<div class="inboxleft-nav">我的私信<span><a href="javascript:void(0)" class="write_letter_btn">写私信</a></span></div>
<div class="inboxleft-info">

<volist name="inbox_info" id="inbox_info">
<!-- 一条私信开始 -->
<div class="sss">
<div class="touxiang">
<img src="<{$inbox_info.avatar_file}>" width="40" height="40"/>
</div>
<div class="rightcontent">


<div class="user"><a href="<{:U('Home/Profile/index',array('u'=>$inbox_info['suid']))}>" ><{$inbox_info.s_username}></a>：</div>
<div class="answercon"><{$inbox_info.inbox_content}></div> 
<div class="timecon"><{$inbox_info.add_time|time2Units}></div>
<div class="my_left_category">


<span><a href="javascript:void(0);">回复</a></span><span><a href="javascript:void(0);" class="delbtn" data-inbox-id="<{$inbox_info.id}>">删除</a></span>

</div>



</div>
</div>
<!-- 一条私信结束 -->
</volist>

</div>
<BR>
<div class="pagelist"><{$page}></div> 
</div>