<div id="inboxleftcontent">


<div class="inboxleft-nav">我的私信<span><a href="javascript:void(0)" class="write_letter_btn">写私信</a></span></div>
<div class="inboxleft-info">

<!-- 一条私信开始 -->
<div class="sss">
<div class="touxiang">
<img src="__PUBLIC__/Home/images/yingxiong.jpg" width="40" height="40"/>
</div>
<div class="rightcontent">


<div class="user"><a href="#" >管理员</a>：</div>
<div class="answercon">尊敬的明山，您已经注册成为明之 社区的会员，请您在发表言论时，遵守当地法律法规。
如果您有什么疑问可以联系管理员。</div> 
<div class="timecon">2016-03-22 07:34</div>
<div class="my_left_category">


<span><a href="javascript:void(0);">回复</a></span><span><a href="javascript:void(0);" class="commentbtn">删除</a></span>

</div>



</div>
</div>
<!-- 一条私信结束 -->

<!-- 一条私信开始 -->
<div class="sss">
<div class="touxiang">
<img src="__PUBLIC__/Home/images/yingxiong.jpg" width="40" height="40"/>
</div>
<div class="rightcontent">


<div class="user"><a href="#" >管理员</a>：</div>
<div class="answercon">尊敬的明山，您已经注册成为明之 社区的会员，请您在发表言论时，遵守当地法律法规。
如果您有什么疑问可以联系管理员。</div> 
<div class="timecon">2016-03-22 07:34</div>
<div class="my_left_category">


<span><a href="javascript:void(0);">回复</a></span><span><a href="javascript:void(0);" class="commentbtn">删除</a></span>

</div>



</div>
</div>
<!-- 一条私信结束 -->


</div>

</div>