<div class="theme-popover">
     <div class="theme-poptit">
          <a href="javascript:;" title="关闭" class="close">×</a>
          <h3>写私信</h3>
     </div>
     <div class="theme-popbod dform">
           <form class="theme-signin" action="" method="post">
                
                     <div class="openModal-sixin">
			             <div class="openModal-sixin-content" contenteditable="true">搜索用户</div>
			             <div class="openModal-sixin-desc" contenteditable="true">填写私信内容</div> 
                     </div> 
                     <div class="openModal-sixin-opr">
                     <a href="javascript:void(0)" class="reset" >取消</a>
                     <input class="btn btn-primary" type="submit" name="submit" value="发送 " />
                     </div>
           </form>
     </div>
</div>
<div class="theme-popover-mask"></div>