<div class="mark"></div>
  <div class="letter-dialog">
             
                <div class="letter-close" onclick="$('.mark,.letter-dialog').hide();"></div> 
                <div class="letter-dialog-title">
                   写私信
                </div> 
                <div class="letter-dialog-cont"> 
                    <div class="theme-popbod">
                      
                
                      <div class="openModal-sixin">
			             <div class="openModal-sixin-content" contenteditable="true">搜索用户</div>
			             <div class="openModal-sixin-desc" contenteditable="true">填写私信内容</div> 
                      </div> 
                       <div class="openModal-sixin-opr">
                       <a href="javascript:void(0)" class="letter_reset" onclick="$('.mark,.letter-dialog').hide();">取消</a>
                       <input class="letter_submit" type="submit" name="submit" value="发送 " />
                       </div>

                   </div>
                </div>
        </div> 