<div id="topicmainright">
<div class="focus_topic_button_div">
  <a href="javascript:void(0)" class="topic-focus-btn  only-topic-focus-btn" data-topic-id="<{$tid}>"> 
  <if condition="$focus_status eq 1">
  取消关注
  <elseif condition="$focus_status eq 0"/>
  关注话题
  </if>
  </a><br>
</div>

<div class="focus_topic_desc_div">
<span class="focus_topic_desc_tag">话题描述</span>
<div class="focus_topic_desc_content">
<{$topic_info.topic_desc}>
</div>
<br>
<span class="focus_topic_desc_tag">话题统计</span>
<br><br>
<span class="focus_topic_count">话题关注人数:<b><{$topic_info.topic_focus_count}></b></span><br>
<span class="focus_topic_count">话题问题数量:<b><{$topic_info.question_count}></b></span><br>
<span class="focus_topic_count">话题浏览数量:<b><{$topic_info.view_count}></b></span>
</div>


<!--S 底部信息  -->
<include file="Public/minifooter"/>
<!--E 底部信息  -->
</div>

