<div id="topicleftcontent">


<div class="topicguangchang">关注的话题<span>已关注<a href="javascript:void(0)"><{$focus_topic_count}></a>个话题</span></div>

<div class="topicconcernlist">
    
<ul  class="bubblemenu"> 
<volist  name="all_focus_topic" id="topicinfo">


<li>

<a href="<{:U('Home/Topic/index',array('idt'=>$topicinfo['id']))}>"  class="nav_topicname enter-topicname"  data-topic-id="<{$topicinfo.id}>"><{$topicinfo.topic_name}></a> 

<div>
<div id="topicinformation">
</div>
             
</div>
</li>


</volist>
</ul>
    
	</div>

<div class="topicallcontent">
<div class="topic_new_question_tag">
<span>话题最新问题</span>
</div>

<div  class="topic_detail_info topic-selected-div">
<if condition="$topic_info['topic_pic'] eq ''">
<img src="__HOME_IMAGES__/default-topic-big.png" /> 
<else/>
<img src="<{$topic_info.topic_pic}>" /> 
</if>
<a href="<{:U('Home/Topic/index',array('tid'=>$topic_info['topic_id'],'sel'=>'trends'))}>" class="topic_detail_info_name"><{$topic_info.topic_name}></a>
</div>

<include file="Topic/unanswereddetailsdiv"/>

</div>






</div>