<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<include file="./Application/Home/View/Public/headerinfo.html"/>
	<title><{$Think.session.username}>-<{$Think.config.WEB_NAME}></title>
	<script type="text/javascript">
	var MODULE='__MODULE__';
	var HOME_IMAGES='__HOME_IMAGES__';
	var PUBLIC_PATH='<{:C("PUBLIC_PATH")}>';
    var AJAX_ERROR='<{:C("AJAX_ERROR_TIPS")}>';
    var DEFAULT_QUESTION_URL=MODULE+'/Question/qindex/qid/';
    var DEFAULT_TOPIC_URL=MODULE+'/Topic/index/tid/';
    var DEFAULT_USER_URL=MODULE+'/Profile/index/u/';
	var default_question_desc='<{:C("DEFAULT_QUESTION_DESC")}>';
    var DEFAULT_QUESTION_URL=MODULE+'/Question/qindex/qid/';
    var DEFAULT_TOPIC_URL=MODULE+'/Topic/index/tid/';
    var DEFAULT_USER_URL=MODULE+'/Profile/index/u/';
	</script>
<css file="__HOME_CSS__/indexheader.css" />
<css file="__HOME_CSS__/topic.css" />
<css file="__HOME_CSS__/answer_topic_question.css"/>
<css file="__HOME_CSS__/footer.css" />
<css file="__HOME_CSS__/fenye.css" />
<css file="__HOME_CSS__/common.css"/>
<css file="__PUBLIC__/static/lightBox/css/jquery.lightbox-0.5.css"/>
<css file="__PUBLIC__/static/wangEditor/dist/css/wangEditor.min.css"/>
<include file="Public/public_static_res"/>
<js file="__PUBLIC__/static/lightBox/js/jquery.lightbox-0.5.js"/>
<js file="__PUBLIC__/static/layer-2.4/layer.js" />

<js file="__HOME_JS__/report.js"/>
<js file="__HOME_JS__/upvoteso.js"/>
<js file="__HOME_JS__/FocusTopic.js"/>
<js file="__HOME_JS__/CommentAnswer.js"/>
<js file="__HOME_JS__/LoadAnswerComments.js"/>
<js file="__HOME_JS__/ReplayComment.js"/>
<js file="__HOME_JS__/CommentOperate.js"/>
<js file="__HOME_JS__/LoadCollectionInfo.js"/>
<js file="__HOME_JS__/AddCollection.js"/>
</head>
<body> 

<!--导航栏开始-->
<include  file="Public/header"/>   
<!--导航栏结束  -->                      

<!--主体内容开始-->

<div id="topicmain">                 

<!-- 左边内容开始 -->
<include  file="Topic/trendsdetail_left"/>
<!-- 左边内容结束 -->


<!-- 右边部分开始 -->
<include  file="Topic/detailtopic_right"/>
<!-- 右边部分结束 -->




</div>
<!-- 主体内容结束 -->


<!--弹窗开始-->
<include file="Index/openModal"/>
<!--弹窗结束  -->

<{/*S 收藏夹*/}>
<include file="Index/collection"/>
<{/*E 收藏夹*/}>

<{/*S 添加收藏夹*/}>
<include file="Index/Create_Collection"/>
<{/*E 添加收藏夹*/}>
</body>
</html>

<js file="__PUBLIC__/static/wangEditor/dist/js/wangEditor.js"/>	
<js file="__HOME_JS__/Editor.js" />