<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<include file="./Application/Home/View/Public/headerinfo.html"/>
	<title><{$Think.session.username}>-<{$Think.config.WEB_NAME}></title>
	<script type="text/javascript">
	var MODULE="__MODULE__";
	var default_question_desc="<{$Think.config.DEFAULT_QUESTION_DESC}>";
	var DEFAULT_QUESTION_URL=MODULE+"/Question/qindex/qid/";
	</script>
<css file="__HOME_CSS__/indexheader.css" />
<css file="__HOME_CSS__/topic.css" />
<css file="__HOME_CSS__/answer_topic_question.css"/>
<css file="__HOME_CSS__/footer.css" />
<css file="__HOME_CSS__/fenye.css" />
<css file="__PUBLIC__/static/lightBox/css/jquery.lightbox-0.5.css"/>
<css file="__PUBLIC__/static/wangEditor/dist/css/wangEditor.min.css"/>
<js file="__PUBLIC__/static/js/jquery-1.10.2.min.js" />
<js file="__PUBLIC__/static/js/jQuery.tween.js" />
<js file="__PUBLIC__/static/js/truncaString.js" />
<js file="__PUBLIC__/static/lightBox/js/jquery.lightbox-0.5.js"/>
<js file="__PUBLIC__/static/layer-2.4/layer.js" />
<js file="__HOME_JS__/js.js" />
<js file="__HOME_JS__/header.js"/>
</head>
<body> 

<!--导航栏开始-->
<include  file="Public/header"/>   
<!--导航栏结束  -->                      

<!--主体内容开始-->

<div id="topicmain">                 

<!-- 左边内容开始 -->
<include  file="Topic/trendsdetail_left"/>
<!-- 左边内容结束 -->


<!-- 右边部分开始 -->
<include  file="Topic/detailtopic_right"/>
<!-- 右边部分结束 -->




</div>
<!-- 主体内容结束 -->


<!--S 回答  弹出-->
<include file="Index/writeAnswer"/>
<!--E 回答  弹出-->


<!--弹窗开始-->
<include file="Index/openModal"/>
<!--弹窗结束  -->

</body>
</html>

<js file="__PUBLIC__/static/wangEditor/dist/js/wangEditor.js"/>	
<js file="__HOME_JS__/Editor.js" />