
.pagelist{ 
	text-align:center; 
	background:#f1f1f1; 
	padding:7px 0;
}
.pagelist a{ 
	margin:0 5px; 
	border:#6185a2 solid 1px; 
	display:inline-block; 
	padding:2px 6px 1px; 
	line-height:16px; 
	background:#fff; 
	color:#225599;
	text-decoration:none;
}
.pagelist a:hover{ 
	border:skyblue solid 1px; 	
}
.pagelist span{ 
	margin:0 5px; 
	border:#225599 solid 1px; 
	display:inline-block; 
	padding:2px 6px 1px; 
	line-height:16px; 
	color:#fff; 
	background:#225599;
}
.rows_records{
	color:#666666;
	font-size:13px;
	list-style-type: none;
}