@CHARSET "UTF-8";
#maincontent{
  margin:90px auto;
  width:960px;
}

.leftcontent{
    float:left;
    width:660px;
	margin-bottom:30px;
	border-bottom:1px solid #ccc;
}
.rightcontent{
	margin-left:60px;
	float:left;
	width:230px;
	margin-top:10px;
	
}

.publish-nav{
	width:660px;
	border-bottom:1px solid #ccc;
	padding-bottom:10px;
	font-size:20px;
}
.publish-content{
    margin-top:20px;	
}
.publish-content span{
	display:block;
	margin-top:10px;
}
.publish-question-content{
	display:inline-block;
	margin-top:20px;
	border:1px solid #ccc;
	border-radius:6px;
	height:40px;
	width:650px;
	padding-left:5px;
	padding-top:3px;
	overflow: auto;
	background-color:#fff;
}
.publish-question-topic{
	display:inline-block;
	margin-top:20px;
	border:1px solid #ccc;
	border-radius:6px;
	height:40px;
	width:200px;
	padding-left:5px;
	padding-top:3px;
	overflow: auto;
	background-color:#fff;
}
.publish-submit{
	display:inline-block;
	float:right;
	margin-top:20px;
	margin-right:10px;
	margin-bottom:20px;
}
.publish-submit input[type=submit]{
	color:#FFF;
	height:40px;
	width:100px;
	padding-top:4px;
	border-radius:6px;
	background-color: #446CB3;
}
.publish-question-content:focus,.publish-question-topic:focus{
	border-color: #30A5FF;
    outline-color: #dceefc;
    outline-offset: 0;
}
/*富文本编辑器控制样式*/
#editor-container{
	clear:both;
	margin-top:20px;
}
#editor-trigger{
    height: 300px;
    /*max-height: 500px;*/
}
.commentcontainer{
    width: 650px;        
   
}


/*右边样式*/
.rightcontent span{
	display: inline-block;
	margin-bottom:20px;
}
.rightcontent p{
	color:#666666;
	font-size:15px;
}