@CHARSET "UTF-8";
.searchmain{
   margin:90px auto;
   width:960px;
}
.search-result-bg{
	width:100%;
	height:120px;
	background:#FAFAFA;
	border-bottom:1px solid #EBEBEB;
	margin-top:60px;
}
.search-result-bg .search-token{
    padding-top:15px;
	width:960px;
	margin:0 auto;
}
.search-result-bg .search-token span{
	
	color:#999999;
}
.search-result-bg .search-token .token{
	color:#666666;
}
.search-result{
	width:960px;
	margin:-43px auto;
}

.list {
	width:960px;
	font-size:15px;
	
}
.list >ul{
	display:inline-block;
	margin-bottom:-5px;
	padding-left:0;
}

.list >ul >li {
	display: inline-block;
	list-style-type: none;
	float:left;
	margin-right:30px;
}
.list >ul >li >a{
	display:inline-block;
	text-decoration:none;
	width:55px;
	height:30px;
	padding-left:23px;
	padding-top:10px;
    color:#666666;
}
.checked_select{
    border-bottom:2px solid #0F88EB;
	color:#0F88EB;
}
.list >ul >li >a:hover{
	display:inline-block;
	text-decoration:none;
	width:55px;
	height:30px;
	padding-left:23px;
	padding-top:10px;
    color:#0F88EB;
}
.All-on{
	width:770px;
	min-height:200px;
}
.All-on .user-n1{
	border-bottom:1px solid #c0c0c0;
	padding-bottom:10px;
}
.user-n2 >ul{
	
	float:right;
	margin-top:-60px;
}

.user-n2 >ul >li {
	display: inline-block;
	list-style-type: none;
	float:left;
	margin-left:20px;
	font-size:15px;
}
.user-n2 >ul >li >a{
	text-decoration:none;
	color:black;

	}
.user-n2 >ul >li >a:hover{
	color:blue;
	}
.user-n1 span{
  float:right;
  margin-top:-20px;
  

  
}
.All-on1{
	width:770px;
	min-height:100px;
	margin-right:0px;
	border-bottom:1px solid #c0c0c0;
}
#gz{
  float:right;
  margin-top:-10px;
  font-size:18px;
  border:1px solid #c0c0c0;
  padding:0 20px;
  background:#808000;
}
#dz{
	font-size:12px;
}
.All-on1 p a{
	text-decoration:none;
	color:black;
	font-size:20px;
}

