
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<include file="./Application/Home/View/Public/headerinfo.html"/>
	<title><{$Think.session.username}>-<{$Think.config.WEB_NAME}></title>
	<script type="text/javascript">
	var MODULE="__MODULE__";
	var default_question_name="<{$Think.config.DEFAULT_QUESTION_NAME}>";
	var default_question_desc="<{$Think.config.DEFAULT_QUESTION_DESC}>";
	var default_question_topic="<{$Think.config.DEFAULT_QUESTION_TOPIC}>";
	</script>
<css file="__HOME_CSS__/indexheader.css" />
<css file="__HOME_CSS__/xiaoxi.css" />
<js file="__PUBLIC__/static/js/jquery-1.10.2.min.js" />
<js file="__PUBLIC__/static/js/jQuery.tween.js" />
<js file="__PUBLIC__/static/js/truncaString.js" />
<js file="__HOME_JS__/js.js" />
<js file="__HOME_JS__/header.js"/>
	
</head>
<body> 

<!--导航栏开始-->
<include  file="Public/header"/>                   
<!--导航栏结束  -->	

<!--主体消息内容开始-->
<include file="Notifications/notificationsinfo"/>
<!--主体消息内容开始  -->


<!--弹窗开始-->
<include file="Index/openModal"/>
<!--弹窗结束  -->


</body>
</html>