
<!-- 消息内容 -->
<div id="xiaoxi">

<div class="allactivity">
<div class="xiaoxicenter">消息中心</div>
<div class="allxiaoxi"><a href="#">所有消息</a></div>
<div id="xiaoxicontent">
<div class="xiaoxitype">消息类型</div>
<ul>
<li><a href="#" >提问</a></li>
<li><a href="#" >回答</a></li>
<li><a href="#" >收藏</a></li>
<li><a href="#" >编辑</a></li>
<li><a href="#" >赞同</a></li>

</ul>
</div>


<div class="xinxi">

<a href="#">©2016 明之</a><a href="#">声明</a><a href="#">明之协议</a><a href="#">联系我们</a>

</div>
</div>




<div class="newactivity">

<div class="mydongtaibiaoqian">所有消息</div>
<ul>
<!-- 引入模板 -->
<include  file="Public/notification_content"/>
       
</ul>    
</div>

</div>