<div id="expright">
<!--热门话题开始  -->
<span class="hottop-title"><img src="__HOME_IMAGES__/hottopic.png"/>&nbsp;&nbsp;热门话题</span>
<div class="hottopicview">
   
   
   <!--热门话题内容开始  -->
   <volist name="hot_topic" id="hot_topic">
    <div class="hottopicsss">
	<div class="hottopicsss-touxiang"><a href="<{:U('Home/Topic/index',array('tid'=>$hot_topic['id'],'sel'=>'trends'))}>">
	<img src="<{$hot_topic.topic_pic}>" width="40" height="40"/></a>
	</div>
	<div class="hottopicsss-rightcontent">
	<a href="<{:U('Home/Topic/index',array('tid'=>$hot_topic['id'],'sel'=>'trends'))}>" class="hottopicsss-topicname"><{$hot_topic.topic_name}></a><a href="javascript:void(0);" class="hottopicsss-tianjiafocus topic-focus-btn" data-topic-id="<{$hot_topic.id}>">
	<if condition="$hot_topic['focus_id'] eq ''">
	<img src="__HOME_IMAGES__/add.png"/>关注
	<else/>
	取消关注
	</if>
	</a>
	
	</div>
	</div>
   </volist>
   
   
   
    
   <!--热门话题内容结束  -->
   
</div>
<!--热门话题结束 -->
<div class="footer">
<include file="Public/minifooter"/>
</div>
</div>