<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<include file="./Application/Home/View/Public/headerinfo.html"/>
<title>发现-<{$Think.config.WEB_NAME}></title>
<script>
var MODULE="__MODULE__";
var HOME_IMAGES="__HOME_IMAGES__";
var PUBLIC_PATH='<{:C("PUBLIC_PATH")}>';
var default_question_desc="<{$Think.config.DEFAULT_QUESTION_DESC}>";
var DEFAULT_QUESTION_URL=MODULE+"/Question/qindex/qid/";
var DEFAULT_TOPIC_URL=MODULE+'/Topic/index/tid/';
var DEFAULT_USER_URL=MODULE+'/Profile/index/u/';
var r_p=<{$ajax_p}>;
</script>
<css file="__HOME_CSS__/indexheader.css" />
<css file="__HOME_CSS__/footer.css" />
<css file="__HOME_CSS__/explore.css"/>
<css file="__HOME_CSS__/common.css"/>
<css file="__PUBLIC__/static/lightBox/css/jquery.lightbox-0.5.css"/>
<css file="__PUBLIC__/static/wangEditor/dist/css/wangEditor.min.css"/>
<include file="Public/public_static_res"/>
<js file="__PUBLIC__/static/lightBox/js/jquery.lightbox-0.5.js"/>
<js file="__PUBLIC__/static/layer-2.4/layer.js" />

<js file="__HOME_JS__/report.js"/>
<js file="__HOME_JS__/upvoteso.js"/>
<js file="__HOME_JS__/FocusTopic.js"/>
<js file="__HOME_JS__/CommentAnswer.js"/>
<js file="__HOME_JS__/LoadAnswerComments.js"/>
<js file="__HOME_JS__/ReplayComment.js"/>
<js file="__HOME_JS__/CommentOperate.js"/>
<js file="__HOME_JS__/LoadCollectionInfo.js"/>
<js file="__HOME_JS__/AddCollection.js"/>
<js file="__HOME_JS__/FocusQuestion.js"/>
<js file="__HOME_JS__/explore.js"/>
</head>
	
<body>
<!--导航栏开始-->
<include  file="Public/header"/>   
<!--导航栏结束  -->                      

<!--主体内容开始-->

<div id="expmain">                 

<!-- 左边内容开始 -->
<include  file="Explore/explore_left"/> 
<!-- 左边内容结束 -->


<!-- 右边部分开始 -->
<include  file="Explore/explore_right"/> 
<!-- 右边部分结束 -->



</div>
<!-- 主体内容结束 -->

<{/*S 提问弹窗*/}>
<include file="Index/openModal"/>
<{/*E 提问弹窗*/}>


<{/*S 收藏夹*/}>
<include file="Index/collection"/>
<{/*E 收藏夹*/}>

<{/*S 添加收藏夹*/}>
<include file="Index/Create_Collection"/>
<{/*E 添加收藏夹*/}>
</body>
</html>