<!-- sss内容开始 -->
<div class="sss">
<div class="touxiang">
<img src="__PUBLIC__/Home/images/yingxiong.jpg" width="40" height="40"/>
</div>
<div class="question_rightcontent">


<div class="user"><a href="#" >当时明月 ,</a>&nbsp; <p class="biaoqian">喜欢玩游戏</p></div>
<div class="answercon">这种游戏就是这个样子呀，上号就可以打了呀没什么任务限制这种游戏就是这个样子这种游戏就是这个样子呀，上号就可以打了呀没什么任务限制这种游戏就是这个样子</div> 
<div class="question_my_left_category">


<span class="upvote"><a href="#">赞同</a> | 15</span><span class="commentbtn"><a href="javascript:void(0);"><img src="__HOME_IMAGES__/replay.png"/> 评论</a></span><span class="commentnum">2</span>

<div class="collectreport">
<a href="#"><img src="__HOME_IMAGES__/collect.png"/> 收藏</a>
<a href="#"><img src="__HOME_IMAGES__/report.png"/> 举报</a>
</div>

</div>

<!--评论回复内容 开始 -->
<div class="commentbox">
			<div class="arrow-range">
				<b class="arrow-outer"></b>
				<b class="arrow-inner"></b>				
			</div>
			<!-- 弹出里面的内容开始 -->
			<div class="othercommentcon">
			    <!--我的回复开始  -->
				<div class="othercomment_mycomment">
				    <div>
						<img src="__PUBLIC__/Home/images/wowowo.jpg" class="mycommen_touxiang" >
						<!-- 回复内容 -->
						<div class="mycomment_input" contenteditable="true"></div>
					</div>
					<div >
						<form action="" method="">
						    <div class="replay-other-btn-div">
						    <input type="submit" value="回复" class="replay-other-btn">
						    </div>
						</form>
					</div>
				</div>
				<!--我的回复结束  -->
				
				
				<!--其他人评论开始  -->	
				<div class="othercomment_info">
				  
				   
				   
						 <!-- 其他人评论内容开始 -->
						<div class="othercomment_info_div">
						<div class="othercomment_user_touxiang">
						<img src="__PUBLIC__/Home/images/yingxiong.jpg" />
						</div>
						<div class="replay-rightcontent">
										
						<div class="othercomment_info_message"><a href="#" >当时明月</a>:<span>这种游戏就是这个样子呀，上号</span> </div>
						<div class="othercomment_replay_time"><span class="replay_time">·2天前</span> 
						<!-- 操作开始 -->
						<div class="othercomment_replay_operate">
						<a href="javascript:void(0)"><img  src="__HOME_IMAGES__/upvote.png"> 赞</a>
						<a href="javascript:void(0)" class="othercomment_replay_btn"><img  src="__HOME_IMAGES__/replay-inner.png"> 回复</a>
						<a href="javascript:void(0)"><img  src="__HOME_IMAGES__/report.png"> 举报</a>
						</div>
						
						<!-- 操作结束 -->
						<span class="replay-upvote-num">3 赞</span>
						</div> 
						<!-- 隐藏评论开始 -->
						<div class="replay-other-input-div">
						    <div>
					
								<!-- 回复内容 -->
								<div class="replay-other-input" contenteditable="true"></div>
							</div>
							<div >
								<form action="" method="">
								 
								    <div class="replay-other-btn-div">
								  
								    <input type="submit" value="评论" class="replay-person-btn">
								    </div>
								</form>
							</div>
						</div>	
					    <!--隐藏评论结束  -->
									
					</div>
					</div>
					<!-- 其他人评论内容结束 -->
						
						
						
						
		                <!-- 其他人评论内容开始 -->
						<div class="othercomment_info_div">
						<div class="othercomment_user_touxiang">
						<img src="__PUBLIC__/Home/images/yingxiong.jpg" />
						</div>
						<div class="replay-rightcontent">
										
						<div class="othercomment_info_message"><a href="#" >当时明月</a>:<span>这种游戏就是这个样子呀，上号</span> </div>
						<div class="othercomment_replay_time"><span class="replay_time">·2天前</span> 
						<!-- 操作开始 -->
						<div class="othercomment_replay_operate">
						<a href="javascript:void(0)"><img  src="__HOME_IMAGES__/upvote.png"> 赞</a>
						<a href="javascript:void(0)" class="othercomment_replay_btn"><img  src="__HOME_IMAGES__/replay-inner.png"> 回复</a>
						<a href="javascript:void(0)"><img  src="__HOME_IMAGES__/report.png"> 举报</a>
						</div>
						
						<!-- 操作结束 -->
						<span class="replay-upvote-num">3 赞</span>
						</div> 
						<!-- 隐藏评论开始 -->
						<div class="replay-other-input-div">
						    <div>
					
								<!-- 回复内容 -->
								<div class="replay-other-input" contenteditable="true"></div>
							</div>
							<div >
								<form action="" method="">
								 
								    <div class="replay-other-btn-div">
								  
								    <input type="submit" value="评论" class="replay-person-btn">
								    </div>
								</form>
							</div>
						</div>	
					    <!--隐藏评论结束  -->
									
						</div>
						</div>
						<!-- 其他人评论内容结束 -->
				   
				   
				   
				    
				   
			    </div>
			    <!--其他人评论结束 -->
			    
			    
			</div>
			<!-- 弹出里面的内容结束 -->
</div> 
<!--评论回复内容结束  -->

</div>
</div>
<!-- sss内容结束 -->




<!-- sss内容开始 -->
<div class="sss">
<div class="touxiang">
<img src="__PUBLIC__/Home/images/yingxiong.jpg" width="40" height="40"/>
</div>
<div class="question_rightcontent">


<div class="user"><a href="#" >当时明月 ,</a> &nbsp;<p class="biaoqian">喜欢玩游戏</p></div>
<div class="answercon">这种游戏就是这个样子呀，上号就可以打了呀没什么任务限制这种游戏就是这个样子这种游戏就是这个样子呀，上号就可以打了呀没什么任务限制这种游戏就是这个样子</div> 
<div class="question_my_left_category">


<span class="upvote"><a href="#">赞同</a> | 15</span><span class="commentbtn"><a href="javascript:void(0);"><img src="__HOME_IMAGES__/replay.png"/> 评论</a></span><span class="commentnum">2</span>

<div class="collectreport">
<a href="#"><img src="__HOME_IMAGES__/collect.png"/> 收藏</a>
<a href="#"><img src="__HOME_IMAGES__/report.png"/> 举报</a>
</div>

</div>

<!--评论回复内容 开始 -->
<div class="commentbox">
			<div class="arrow-range">
				<b class="arrow-outer"></b>
				<b class="arrow-inner"></b>				
			</div>
			<!-- 弹出里面的内容开始 -->
			<div class="othercommentcon">
			    <!--我的回复开始  -->
				<div class="othercomment_mycomment">
				    <div>
						<img src="__PUBLIC__/Home/images/wowowo.jpg" class="mycommen_touxiang" >
						<!-- 回复内容 -->
						<div class="mycomment_input" contenteditable="true"></div>
					</div>
					<div >
						<form action="" method="">
						    <div class="replay-other-btn-div">
						    <input type="submit" value="回复" class="replay-other-btn">
						    </div>
						</form>
					</div>
				</div>
				<!--我的回复结束  -->
			
				<!--其他人评论开始  -->	
				<div class="othercomment_info">
				  
				   
				   
						 <!-- 其他人评论内容开始 -->
						<div class="othercomment_info_div">
						<div class="othercomment_user_touxiang">
						<img src="__PUBLIC__/Home/images/yingxiong.jpg" />
						</div>
						<div class="replay-rightcontent">
										
						<div class="othercomment_info_message"><a href="#" >当时明月</a>:<span>这种游戏就是这个样子呀，上号</span> </div>
						<div class="othercomment_replay_time"><span class="replay_time">·2天前</span> 
						<!-- 操作开始 -->
						<div class="othercomment_replay_operate">
						<a href="javascript:void(0)"><img  src="__HOME_IMAGES__/upvote.png"> 赞</a>
						<a href="javascript:void(0)" class="othercomment_replay_btn"><img  src="__HOME_IMAGES__/replay-inner.png"> 回复</a>
						<a href="javascript:void(0)"><img  src="__HOME_IMAGES__/report.png"> 举报</a>
						</div>
						
						<!-- 操作结束 -->
						<span class="replay-upvote-num">3 赞</span>
						</div> 
						<!-- 隐藏评论开始 -->
						<div class="replay-other-input-div">
						    <div>
					
								<!-- 回复内容 -->
								<div class="replay-other-input" contenteditable="true"></div>
							</div>
							<div >
								<form action="" method="">
								 
								    <div class="replay-other-btn-div">
								  
								    <input type="submit" value="评论" class="replay-person-btn">
								    </div>
								</form>
							</div>
						</div>	
					    <!--隐藏评论结束  -->
									
						</div>
						</div>
						<!-- 其他人评论内容结束 -->
						
						
						
						
		                <!-- 其他人评论内容开始 -->
						<div class="othercomment_info_div">
						<div class="othercomment_user_touxiang">
						<img src="__PUBLIC__/Home/images/yingxiong.jpg" />
						</div>
						<div class="replay-rightcontent">
										
						<div class="othercomment_info_message"><a href="#" >当时明月</a>:<span>这种游戏就是这个样子呀，上号</span> </div>
						<div class="othercomment_replay_time"><span class="replay_time">·2天前</span> 
						<!-- 操作开始 -->
						<div class="othercomment_replay_operate">
						<a href="javascript:void(0)"><img  src="__HOME_IMAGES__/upvote.png"> 赞</a>
						<a href="javascript:void(0)" class="othercomment_replay_btn"><img  src="__HOME_IMAGES__/replay-inner.png"> 回复</a>
						<a href="javascript:void(0)"><img  src="__HOME_IMAGES__/report.png"> 举报</a>
						</div>
						
						<!-- 操作结束 -->
						<span class="replay-upvote-num">3 赞</span>
						</div> 
						<!-- 隐藏评论开始 -->
						<div class="replay-other-input-div">
						    <div>
					
								<!-- 回复内容 -->
								<div class="replay-other-input" contenteditable="true"></div>
							</div>
							<div >
								<form action="" method="">
								 
								    <div class="replay-other-btn-div">
								  
								    <input type="submit" value="评论" class="replay-person-btn">
								    </div>
								</form>
							</div>
						</div>	
					    <!--隐藏评论结束  -->
									
						</div>
						</div>
						<!-- 其他人评论内容结束 -->
				   
				   
				   
				    
				   
			    </div>
			    <!--其他人评论结束 -->
			    
			    
			</div>
			<!-- 弹出里面的内容结束 -->
</div> 
<!--评论回复内容结束  -->

</div>
</div>
<!-- sss内容结束 -->>